.top {
    width: 100%;
    height: 75px;
    background-color: darkgrey;
}

#logo {
    text-align: center;
    padding-top: 10px;
}

.createLinkWrap {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 10px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 5px;
}

.logoLink {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    transition: 0.4s;
}

    .logoLink:hover {
        text-decoration: none;
        color: antiquewhite;
    }
