@model MemeShop.Models.AdminModel.AdminViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Validation</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <p>@Html.EditorFor(model => model.Login)</p>
            <p>@Html.EditorFor(model => model.Password)</p>
            <p>@Html.EditorFor(model => model.PersonalKey)</p>
            <input type="submit" value="Sign In" />
        }
    </div>
</body>
</html>
