
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckEmail</title>
</head>
<body>
    <style>
        .storeLink {
            color: black;
            text-decoration: none;
        }

            .storeLink:hover {
                color: grey;
                text-decoration: none;
            }
    </style>
    <h2>Checkout your E-Mail please!</h2>
    <a href="/Home/StoreMain" class="storeLink"><p id="back">&lt; CONTINUE SHOPPING</p></a>
</body>
</html>
